body{
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
}
.corps{
    display: grid;
    border-radius: 5px;
    grid-column-gap: 10px;

    border: lightgrey solid 1px;
    padding: auto;
    margin: auto;
    margin-top: 20px;
    width: 40%;

}

.inputUser{
    display: grid;
    border-radius: 5px;
    margin: auto;
    width: 70%;

}

.inputPassword{
    display: grid;
    border-radius: 5px;
    margin: auto;
    width: 70%;

}

.inputIconUser{
    color: rgba(0,0,0,.25)
}
.inputIconLock{
    color: rgba(0,0,0,.25)
}