body{
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
}

.attributionarea{
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 100%
}

.page{
    display: grid;
    grid-template-rows: auto;

}
