.searchbar{
    width: 80%;
    margin: auto;
    padding: 0px;
}

.addlist{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.listmanagementcontainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 5px;
    border: lightgrey solid 1px;
    padding: 5%;
}