body{
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
}

.input{
    padding: 0!important;
}
.searchbar{
    width: 80%;
    margin: auto;
    padding: 0px;
}
.addlist{
    width: 80%;
    margin: auto;
}
.globalsearchwrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}